@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

/* Regular text */
.regular {
  font-weight: 400; /* Inter Regular */
}

/* Bold text */
.bold {
  font-weight: 700; /* Inter Bold */
}

.list-square {
  list-style-type: square;
}
